@font-face {
  font-family: "Redaction-50";
  src: url("/fonts/Redaction/Redaction_50-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Relative-Book-Pro";
  src: url("/fonts/Relative/relative-book-pro.woff2") format("woff2"), url("/fonts/relative-book-pro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Relative-Black-Italic-Pro";
  src: url("/fonts/Relative/relative-black-italic-pro.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Relative-Book-Pro', normal;
}

h1 {
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #f8f4fd;
    background: #000000;
  }
}
